@charset "utf-8";
/* CSS Document */

.wp-quick-contact-outer {
	bottom: 0;
	display: none;
	left: 0;
	margin: 0 20px;
	position: fixed;
	display: block !important;
	z-index: 99999999;
	width:320px;
	background-color:#FFFFFF;
}
.wp-quick-contact-inner {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width:320px;
	float:left;
	border:1px solid #4D484D;
	border-bottom:none;
	font-family:"Trebuchet MS", Arial, verdana, sans-serif;
}
.wp-quick-contact-head {
	background-color: #4D484D !important;
	color: #FFFFFF;
	cursor: pointer;
	padding: 10px;
	width:300px;
	float:left;
}
.wp-quick-contact-area {
	width:320px;
	float:left;
	background-color:#FFFFFF;
}
.slide-indicate {
	background-image: url("../images/buttons-light.png");
	background-position: 0 top;
	background-repeat: no-repeat !important;
	border-radius: 5px 5px 5px 5px !important;
	cursor: pointer !important;
	float: right;
	height: 16px;
	line-height: 1000px;
	margin-left: 4px;
	margin-top: 4px;
	overflow: hidden;
	padding: 0;
	width: 16px;
}
.slideUp {
	background-position: -15px top !important;
}
.wp-quick-line {
	float:left;
	width:310px;
	padding:5px;
}
.wp-quick-field {
	float:left;
	width:310px;
}
.wp-quick-field input {
	float:left;
	width:295px;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	font-family: inherit;
	padding: 0.428571rem;
}
.wp-quick-field textarea {
	float:left;
	width:295px;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	font-family: inherit;
	padding: 0.428571rem;
}
.wp-quick-submit {
	float:left;
	width:70px;
}
.wp-quick-submit input[type="submit"] {
	background-color: #E6E6E6;
	background-image: -moz-linear-gradient(center top, #F4F4F4, #E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #D2D2D2;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	color: #7C7C7C;
	font-size: 0.785714rem;
	font-weight: normal;
	line-height: 1.42857;
	padding: 0.428571rem 0.714286rem;
}
.wp-qc-loading {
	float:left;
	width:100px;
	margin-top:8px;
}
.wpqc-error {
	color: #FF3300 !important;
}
.wpqc-success {
	background-color: #FFFFFF;
	float: left;
	padding: 15px 5px;
	width: 310px;
	color:#009900;
}
